<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
            let weux = {};
            // 这次换成一个对象类型的缓存列表
            weux.list = {
                // 存着很多回调的函数 保存着回调函数队列，不执行，异步队列
                setSearchText: [() => {}],
            };
            // 监听帮助存着回调函数
            weux.on = function (key, fn) {
                //   console.log(this)
                if (!this.list[key]) {
                    this.list[key] = [];
                }
                this.list[key].push(fn);
            };
            // 触发
            weux.emit = function (key, param) {
                let fns = this.list[key];
                if (!fns || fns.length === 0) {
                    return false;
                }
                fns.forEach(fn => {
                    fn(param);
                });
            };
            // 组件1 负责监听 事件监听
            weux.on('setSearchText', (parms) => {
                console.log(parms)
            })
            // 组件2 负责触发
            weux.emit('setSearchText', "dome")
            weux.emit('setSearchText', 'xxx')

            // weux.on('setSearchText',()=>{
    </script>
</body>
</html>