<div v-show="mackisok">
    <div class="weui-mask" id="iosMask" style="opacity: 1;" @click="mackisok = false">{{mackisok}}</div>
    <div class="weui-actionsheet weui-actionsheet_toggle" id="iosActionsheet">
        <div class="weui-actionsheet__title">
            <p class="weui-actionsheet__title-text">这是一个标题，可以为一行或者两行。</p>
        </div>
        <div class="weui-actionsheet__menu">
            <div class="weui-actionsheet__cell">示例菜单</div>
            <div class="weui-actionsheet__cell">示例菜单</div>
            <div class="weui-actionsheet__cell weui-actionsheet__cell_warn">负向菜单</div>
        </div>
        <div class="weui-actionsheet__action">
            <div class="weui-actionsheet__cell" id="iosActionsheetCancel" @click="mackisok = false">取消</div>
        </div>
    </div>
</div>